* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 776px;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}

header {
  margin-top: 128px;
}

h1 {
  color: hsl(0deg, 0%, 30%);
  font-size: 2rem;
}

.intro-chunk {
  padding-bottom: 64px;
}

.intro-chunk p {
  font-size: 1.5rem;
  max-width: 480px;
  color: hsl(0deg, 0%, 40%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding-top: 64px;
  padding-bottom: 64px;
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
}

h2.indented-heading {
  display: inline-block;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 10%);
  width: content-max;
  padding: 1.25rem;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: -40px;
  margin-top: 8px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.card {
  font-size: 1.25rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  margin-left: -2rem;
  padding-right: 2rem;
  margin-right: -2rem;
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.card p {
  color: hsl(0deg, 0%, 30%);
}
